
<div id="footer-wrap">

    <footer class="clearfix">

        <section class="footer-widget">
            <section class="widget">
                <h3>
                    <a href="http://demo.cssmoban.com/cssthemes3/mstp_88_healthpress/index-2.html"><img src="Health%20Press%20HTML%20Template_files/footer-logo.png" alt="HealthPress"></a>
                </h3>
                <p>Lorem ipsum dolor sit
                    amet, consectetur adipiscing elit. Duis adipiscing id nulla vel lorem
                    dapibus fringilla eget non felis, porttitor lectus.</p>
                <a href="#" class="readmore">Read more</a>
            </section>
        </section>

        <section class="footer-widget">
            <section class="widget">
                <h3 class="title">Quick Links</h3>
                <div>
                    <ul>
                        <li><a href="http://demo.cssmoban.com/cssthemes3/mstp_88_healthpress/index-2.html">Home</a></li>
                        <li><a href="http://demo.cssmoban.com/cssthemes3/mstp_88_healthpress/blog.html">Blog</a></li>
                        <li><a href="http://demo.cssmoban.com/cssthemes3/mstp_88_healthpress/services-four-columns.html">Services</a></li>
                        <li><a href="http://demo.cssmoban.com/cssthemes3/mstp_88_healthpress/doctors-four-columns.html">Doctors</a></li>
                        <li><a href="http://demo.cssmoban.com/cssthemes3/mstp_88_healthpress/contact.html">Contact Us</a></li>
                    </ul>
                </div>
            </section>
        </section>

        <section class="footer-widget">
            <section class="widget">
                <h3 class="title">Recent Posts</h3>
                <div>
                    <ul>
                        <li><a href="http://demo.cssmoban.com/cssthemes3/mstp_88_healthpress/blog.html">Latest Health Lessons</a></li>
                        <li><a href="http://demo.cssmoban.com/cssthemes3/mstp_88_healthpress/blog.html">The Benefits of Middle-Age Fitness</a></li>
                        <li><a href="http://demo.cssmoban.com/cssthemes3/mstp_88_healthpress/blog.html">For Young Athletes, Good Reasons to Break the Fast-Food Habit</a></li>
                        <li><a href="http://demo.cssmoban.com/cssthemes3/mstp_88_healthpress/blog.html">For Weight Loss, Less Exercise May Be More</a></li>
                        <li><a href="http://demo.cssmoban.com/cssthemes3/mstp_88_healthpress/blog.html">Really?: Adding Milk to Tea Destroys its Antioxidants</a></li>
                    </ul>
                </div>
            </section>
        </section>

        <section class="footer-widget" style="margin-right: 0px;">
            <section class="widget">
                <h3 class="title">Location</h3>
                <p>Address will be appear here, some details here City Name, Stat &amp; Country.</p>
                <p><span>Ph:</span> +800 123 4567</p>
                <p><span>Email:</span>
                    <a href="mailto:info@@yoursite.com">info@@yoursite.com</a></p>
            </section>
        </section>

    </footer>
        <!-- end of #bottom -->

</div>
