@()(implicit session: Session)
@chinese.home.main("藻类细胞器数据库"){




    <div id="container" style="margin-top: 50px;">

        <div class="official clearfix">

            <div class="home-left-side">
                <section class="team clearfix">
                    <h2 class="smart-head" style="margin-bottom: 10px;">藻类细胞器数据库</h2>
                    <p>藻类是原生生物界一类真核生物（有些也为原核生物，如蓝藻门的藻类）。主要水生，无维管束，能进行光合作用。
                        体型大小各异，小至长1微米的单细胞的鞭毛藻，大至长达60公尺的大型褐藻。一些权威专家继续将藻类归入植物或植物样生物，
                        但藻类没有真正的根、茎、叶，也没有维管束。这点与苔藓植物（bryophyte）相同。</p>
                    <p>一些藻类与其他真核生物一样有细胞核，有具膜的液泡和细胞器（如线粒体），大多数藻类于生活过程中需要氧气。
                        用各种叶绿体分子（如叶绿素、类胡萝卜素、藻胆蛋白等）进行光合作用。地球上的光合作用90%由藻类进行，据信在
                        地球早期的历史上藻类在创造富氧环境中发挥重要作用。</p>
                </section>

                <section>
                    <h2 class="smart-head" style="margin-bottom: 10px">快速导航</h2>


                    <ul class="services">
                        <li class="service">
                            <figure class="service-thumb"><a href="#">
                                <i class="fa fa-wrench" style="font-size: 100px"></i></a>
                            </figure>
                            <h4><a href="#">BLAST</a></h4>
                            <p>BLAST (basic local alignment search tool)是一种比较原始生物序列信息的算法，例如蛋白质的氨基酸序列或DNA和/或RNA序列的核苷酸序列。</p>
                        </li>
                        <li class="service">
                            <figure class="service-thumb"><a href="#">
                                <i class="fa fa-circle-o" style="font-size: 100px"></i></a>
                            </figure>
                            <h4><a href="#">共线性</a></h4>
                            <p>在经典遗传学中，共线性描述个体或物种内同一染色体上的遗传位点的物理共定位。</p>
                        </li>
                        <li class="service">
                            <figure class="service-thumb"><a href="#">
                                <i class="fa fa-upload" style="font-size: 100px"></i></a>
                            </figure>
                            <h4><a href="#">提交</a></h4>
                            <p>数据提交，按照NCBI的模式进行提交。类似NCBI上传的流程。支持国内数据库。</p>
                        </li>
                        <li class="service">
                            <figure class="service-thumb"><a href="#">
                                <i class="fa fa-download" style="font-size: 100px"></i></a>
                            </figure>
                            <h4><a href="#">下载</a></h4>
                            <p>支持全数据的下载，以类群（门、纲、目、科、属）和物种为单元的批量下载，选择相关的基因（
                                氨基酸和核苷酸）下载，支持综合搜索功能。</p>
                        </li>
                        <li class="service">
                            <figure class="service-thumb"><a href="#">
                                <i class="fa fa-area-chart" style="font-size: 100px"></i></a>
                            </figure>
                            <h4><a href="#">统计</a></h4>
                            <p>数据统计分析，包括数据种类数量（门、纲、目、科、属和物种），来源（按照完成单位、完成人和国家），
                                总数据量（Gb），总编码基因数量、tRNA、rRNA等；归类到门（或目、科、属），给出基因组长度、GC含
                                量、ATGC单独含量、总编码基因数量、tRNA、rRNA数据范围。</p>
                        </li>
                    </ul>
                </section>

            </div>


            <aside id="sidebar">

                <a href="single-service.html" class="img-hover" ><img src="/assets/images/image7.png" width="300px"></a>


                <style>
                        .rpanel {
                            margin-top: 20px;
                            border: 1px solid #ddd;
                            box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
                            border-radius: 5px;
                        }

                        .rpanel-header {
                            background-color: #5AABBC;
                            height: 40px;
                            line-height: 40px;
                            padding-left: 15px;
                        }

                        .rpanel-title {
                            color: white;
                        }

                        .rpanel-body {
                            padding: 15px 15px 0 15px;
                        }

                        .ui.big.label{
                            font-size: 16px;
                        }

                    </style>


                <div class="ui raised segment">
                    <h4 class="text-primary"><span class="ui teal ribbon label big"><i class="fas fa-chart-pie"></i> 统计</span>
                    </h4>
                    <br>
                    <p><i class="fa fa-chevron-circle-right"></i> 叶绿体基因组: 300+</p>
                    <p><i class="fa fa-chevron-circle-right"></i> 线粒体基因组: 300+</p>
                    <p><i class="fa fa-chevron-circle-right"></i> 种质资源: 700+</p>
                </div>

                <div class="ui raised segment">
                    <h4 class="text-primary"><span class="ui teal ribbon label big"><i class="fas fa-chart-pie"></i> 更新日志</span>
                    </h4>
                    <br>
                    <p><i class="fa fa-chevron-circle-right"></i>
                        藻类细胞器数据库（PODB）在2019年7月上线。</p>

                </div>




                <div class="rpanel" style="display: none;">
                    <div class="rpanel-header">
                        <h3 class="rpanel-title">更新日志</h3>
                    </div>
                    <div class="rpanel-body">

                        <p><i class="fa fa-chevron-circle-right"></i>
                            藻类细胞器数据库（PODB）在2019年7月上线。</p>

                    </div>
                </div>

            </aside>

        </div>


        <div id="content" class="full-width"></div>

    </div>
        <!-- end of container -->






}
