@()(implicit session:Session)
@english.home.main(""){
    <div id="content">
        <h1 class="title">Welcome</h1>
        <div class="line"></div>
        <div class="intro">Mollusca is the second-largest phylum of invertebrate animals after the Arthropoda. The
            members are known as molluscs or mollusks[a] (/ˈmɒləsk/). Around 85,000 extant species of molluscs are
            recognized. The number of fossil species is estimated between 60,000 and 100,000 additional species. The
            proportion of undescribed species is very high. Many taxa remain poorly studied</div>

            <!-- Begin Slider -->
        <div id="slider">

            <div class="flexslider">
                <ul class="slides">
                    <li><img src="/mollusk/utils/getGemomeImg?id=1" alt="" height="380px"/></li>
                    <li><img src="/mollusk/utils/getGemomeImg?id=2" alt="" height="380px"/></li>
                    <li><img src="/mollusk/utils/getGemomeImg?id=3" alt="" height="380px"/></li>
                    <li><img src="/mollusk/utils/getGemomeImg?id=4" alt="" height="380px"/></li>
                    <li><img src="/mollusk/utils/getGemomeImg?id=6" alt="" height="380px"/></li>
                </ul>
            </div>

        </div>

        <h2>Tools</h2>

        <p>By collating all the mitochondrial genome information of molluscs and providing the bioinformatics analysis
            and visualization tools such as the collinearity analysis of the genome browser and the Blast function
            annotation, it provides a solid foundation for the scientific research on the mitochondrial gene function
            comparison of genomes and other relevant studies.</p>



        <div class="one-half">
            <h3><a href="@routes.ToolsController.blastBefore()" target="_blank">
                <img src="/assets/images/fenxi.png" style="width: 30px" />Blast</a></h3>
            <p style="text-align: justify"> 	BLAST (basic local alignment search tool) is an algorithm for comparing primary biological sequence
                information, such as the amino-acid sequences of proteins or the nucleotides of DNA and/or RNA sequences.</p>
        </div>
        <div class="one-half last">
            <h3><a href="@routes.ToolsController.geneWiseBeforeUS()" target="_blank">
                <img src="/assets/images/fenxi.png" style="width: 30px" />Genewise</a></h3>
            <p style="text-align: justify">GeneWise compares a protein sequence to a genomic DNA sequence, allowing for introns and frameshifting errors. </p>
        </div>


        <div class="clear"></div>
        <div class="one-half ">
            <h3><a href="@routes.ToolsController.muscleBeforeUS()" target="_blank">
                <img src="/assets/images/fenxi.png" style="width: 30px" />Muscle</a></h3>
            <p style="text-align: justify">MUSCLE is one of the best-performing multiple alignment programs according to published benchmark tests,
                with accuracy and speed that are consistently better than CLUSTALW. MUSCLE can align hundreds of
                sequences in seconds. Most users learn everything they need to know about MUSCLE in a few minutes—only
                a handful of command-line options are needed to perform common alignment tasks.</p>
        </div>


        <div class="one-half last">
            <h3><a href="@routes.ToolsController.lastzBeforeUS()" target="_blank">
                <img src="/assets/images/fenxi.png" style="width: 30px" />Lastz</a></h3>
            <p style="text-align: justify">This document describes installation and usage of the LASTZ sequence alignment program. LASTZ is a drop-in
                replacement for BLASTZ, and is backward compatible with BLASTZ's command-line syntax. That is, it supports
                all of BLASTZ's options but also has additional ones, and may produce slightly different alignment results.  </p>
        </div>

        <div class="clear"></div>


    </div>
        <!-- End Content -->
    <div class="clear"></div>

}